*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, blue, rgb(175, 172, 221) );
}  

.contenedor {
    width: 100%;
}

.contenedorTitulo{
    margin-bottom: 50px;
    padding: 20px;
    color: rgb(5, 5, 5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    text-shadow: 1px 1px 2px rgb(43, 42, 42);
    display: block;
    width: 100%;
}  

.contenedorTitulo h1 {
    font-size: 1.5rem;
    text-align: center;
}

.diseñado {
    width: 100%;
}

.diseñado h5{
    font-size: .3rem;
    color: rgb(199, 196, 24);
}

.instrucciones {
    width: 100%;
}
.instrucciones p {
    font-size: 1rem;
}
.contenedorDescarga input{
    padding: 10px;
    margin-left: 20px;

}
.contenedorDescarga button{
    padding: 10px;
}
div p{
    color: white;
    background-color: black;
    border-radius: 1px solid black;
    padding: 20px;
    margin: 20px;
    border: 2px solid white;
    letter-spacing: 3px;
}
iframe{
    overflow: hidden;
    height: 200px;
}

@media (max-width: 799px) {

    .instrucciones p {
        font-size: .5rem;
    }
    
    .contenedorTitulo h1 {
        font-size: 1.2rem;
    }

}